
<h1>Posts</h1>

<span>Search:</span>
<%= form_tag posts_path, remote: true do %>
  	<%= text_field_tag "search-bar", "" %> 
<% end %>

<br> <br>
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %> <br>
<br>
<div id="posts">
	<%= render 'posts' %>
</div>
